# Carpeta Node modules
node_modules/

# Logs (Historiales)
logs/
*.log
npm-debug.log*

# Compiled output
dist/

# Directorio de Dependencias
jspm_packages/
.pnp
.pnp.js

# Directorio de archivos del Editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos Generados por Sistema Operativo
.DS_Store
Thumbs.db
